# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IDE related
.idea/
obj/
bin/

# Data and plot files
*.rar
*.xlsx
notebooks/cifar-10-batches-py/
notebooks/mnist/
numpy_files/
data/

# Notebook checkpoints
notebooks/.ipynb_checkpoints/ 
